{% extends 'pages/changelog.twig' %}
{% block changelogContent %}
    <div class="container-fluid my-3">
        <div class="row border-bottom py-3">
            <div class="col-4">
                <b>Initiated By</b>
            </div>
            <div class="col-8">
                <p class="mb-0">{{ entry.getInitiatedBy() }}</p>
            </div>
        </div>
        <div class="row border-bottom py-3">
            <div class="col-4">
                <b>Tech</b>
            </div>
            <div class="col-8">
                <p class="mb-0">{{ entry.getTech() }}</p>
            </div>
        </div>
        {% if entry.getDevice() is defined %}
            <div class="row border-bottom py-3">
                <div class="col-4">
                    <b>Device</b>
                </div>
                <div class="col-8">
                    <p class="mb-0">{{ entry.getDevice() }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row border-bottom py-3">
            <div class="col-4">
                <b>Performed</b>
            </div>
            <div class="col-8">
                <p class="mb-0">{{ entry.getCreatedAt()|convertTimezone(locale.timezone).format(locale.format) }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="accordion" id="descriptionContainer">
                    <div class="card">
                        <div class="card-header" id="changeHeading">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left text-body text-decoration-none"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#changeDescription"
                                        aria-expanded="true"
                                        aria-controls="changeDescription">Change Description</button>
                            </h2>
                        </div>

                        <div id="changeDescription" class="collapse show" aria-labelledby="changeHeading" data-parent="#descriptionContainer">
                            <div class="card-body">{{ entry.getChangeDescription()|markdown }}</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="rollbackHeading">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed text-body text-decoration-none"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#rollbackDescription"
                                        aria-expanded="false"
                                        aria-controls="rollbackDescription">Rollback Description</button>
                            </h2>
                        </div>
                        <div id="rollbackDescription" class="collapse" aria-labelledby="rollbackHeading" data-parent="#descriptionContainer">
                            <div class="card-body">{{ entry.getRollbackDescription()|markdown }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}