{% extends 'base.twig' %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ lib.jquery }}"></script>
    <script type="text/javascript" src="{{ lib.bootstrap.js }}"></script>
    <script type="text/javascript" src="{{ lib.sweetalert2.js }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ lib.bootstrap.css }}"/>
    <link rel="stylesheet" type="text/css" href="{{ lib.fontawesome }}"/>
    <link rel="stylesheet" type="text/css" href="{{ lib.sweetalert2.css }}"/>
{% endblock %}
{% block body %}
    <div class="{% block container_class %}container-fluid{% endblock %}">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}